*{
    margin: 0;
    padding: 0;
    font-family: 'Ubunto';
}
.navbar{
    background-color: #E8D4D4;
    width: 100%;
    height: 600px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(145, 134, 134);
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 10px;
    margin-top: -100px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}
#cv{
    width: 50px;
}
#image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 25px 20px -20px rgba(0,0,0,0.7);
}
.subnavbar ul li{
    display: inline-block;
    padding: 8px 35px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}
.subnavbar ul li::after{
    content: '';
    background:#0D99FF;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%,-50%);
    opacity: 0;
    


}
.subnavbar ul li:hover{;
    color:white
    
}
.subnavbar ul li:hover::after{
    top: 50%;
    opacity: 1;
}

.subnavbar{
    background-color: whitesmoke;
    padding: 10px 100px;
    border-radius: 50px;
    box-shadow: 0 25px 20px -20px rgba(0,0,0,0.4);
}
#cv{
    width: 70px;
    border-radius: 40px;
}
=======
.toppage{
    width: 1000px;
    margin: 0 auto;
}
.topcarte{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0 auto;
    width: 1000px;
    border-radius: 50px; 
    gap: 25px;

}
.topcarte p{
    height: 250px;
    width: 500px;
    font-family: cursive;
}
.topcarte img{
    height: 270px;
    width: 300px;
    border-radius: 50px;
}
.skills{
    text-align: center;
}
.boxskills{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 1000px;
}
.boxskills P{
    width: 350px;
    padding: 10px;
    border-radius: 55px;
    font-family: cursive;
}
.boxskills img{
    width: 400px;
    padding: 10px;
    border-radius: 55px;
}
.whatIDo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    width: 1000px;
    background-color: white;
    border-radius: 30px;
}
.blocdescription{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    padding: 10px;
}

h1{
    text-align: center;
}
.blocdescription img{
    width: 200px;
}